// layout
$contentWidth = 830px

$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile rust

$codeBgColor = #282c34

// colors
$accentColor = #58a6ff

$textColor = #c9d1d9
$darkTextColor = #f0f6fc

$bgColor = #0d1117
$headerBgColor = #161b22

$footerBgColor = $headerBgColor
$footerColor = $darkTextColor

$postTagBgColor = #ededed;
$postTagColor = darken($postTagBgColor,50%)